* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black;
  width: 900px;
  height: 900px;
}

 .container>div {
  height: auto;
  flex: 1 0 auto;
  /* make columns vertical flexboxes */
  display: flex;
  flex-direction: column;
  border: 1px solid black;
} 

.container>div>* {
  /* make rows evenly distributed */
  flex: 1;
  border: 1px solid black;
}

.row {
  background-color: white;
}
